<div class="row">
    <div class="col s12 m3">
      <div class="card-panel red lighten-5"> <h5>65,054</h5> Active Office365 users</div>
    </div>
    <div class="col s12 m3">
        <div class="card-panel red lighten-5"> <h5>70,134</h5> Active Outlook users</div>
      </div>
    <div class="col s12 m3">
      <div class="card-panel red lighten-5"> <h5>60,076</h5> Active Skype users</div>
    </div>
    <div class="col s12 m3">
      <div class="card-panel red lighten-5"> <h5>55,209</h5> Active Teams users</div>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Office365 Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Outlook Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Skype Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Windows Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>iOS Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Andriod Trending</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
    </div>
</div> 