<!-- <button onclick="M.AutoInit()" class="btn modal-trigger">Auto Init</button> -->

<div class="row">
<!--     <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Desktop Breakdown</span>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4">Breakdown</a></li>
          <li class="tab"><a class="active" href="#test5">Chart</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="test4">Test 1</div>
        <div id="test5">Test 2</div>
      </div>
    </div>
  </div> -->
  <div class="col s12 m4">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Browser Breakdown<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-image waves-effect waves-block waves-light">
        <div class="collection">
          <a href="#!" class="collection-item"><span class="badge">15,456</span>IE10</a>
          <a href="#!" class="collection-item"><span class="new badge">14,789</span>IE11</a>
          <a href="#!" class="collection-item">Chrome</a>
          <a href="#!" class="collection-item"><span class="badge">45,000</span>FireFox</a>
        </div>
      </div>
      <div class="card-content">
          <p class="text-grey right">55,900</p>
        </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Trending<i class="material-icons right">close</i></span>
        <p>Here is some timelines about this product</p>
      </div>
    </div>
  </div>
</div>   